// catagories

/* Beer catagories */
@mixin beer-box{
  width:33%;
  float: left;
 }

@media screen and (min-width: 700px){
  
.beer{
  @include beer-box;
  transition: .2s;
}


.beer:hover{
	bordeR: 5px solid white;
}

}