

/* Desktop */

@mixin beer-box{
  width:33%;
  float: left;
 }

@media screen and (min-width: 700px){
  



a{
  text-decoration: none;
}


h1{
  text-align: center;
  font-size: 3rem;

}


/* Beer catagories */


.icon{
  margin:auto;

}


#dryhopped, #stoneIPA, #wittekerke, #radler, #avbc, #guinness {
  @include beer-box;
}


.beer{
	text-align: center;
	max-width: 90%;
  margin: auto;

}

img{
  border: 2px solid black;
  min-width: 100%;
}


}

