

/* Desktop */

@mixin beer-box{
  width:33%;
 }

@media screen and (min-width: 700px){
  
.your-class{

img{
    width:100%;
  }

}


 .pullquote{
  background-color: #BD5B50;
  
 }


#explanation{
 width: 30.5em;



}


a{
  text-decoration: none;
}


h1{
  text-align: center;
  font-size: 3rem;

}


/* Beer catagories */


.icon{
  margin:auto;

}


#dryhopped, #stoneIPA, #wittekerke, #radler, #avbc, #guinness {
  @include beer-box;
  float:left;
  height: 300px;


}


.beer{
	text-align: center;
	max-width: 90%;
  margin: auto;

}

img{
  border: 2px solid black;
  max-width: 100%;
}

p{
color:black;
}



} /*end of media query*/

