




/* Desktop */

@mixin beer-box{
  width:33%;
 
}

@media screen and (min-width: 700px){

.mnkyTitle{
  font-family: 'indie flower' serif;
  font-size:2em;
  
}

.head_img{
display:block;
width: 90%;
margin: 5em auto;

}


#explanation{
 width: 30.5em;
  border-bottom:1px solid black;
  border-top:1px solid black;
  margin:5 em auto;
 
}


a{
  text-decoration: none;
}


h1{
  text-align: center;
  font-size: 3rem;

}


/* Beer catagories */

.icon{
  margin:auto;

}


#dryhopped, #stoneIPA, #wittekerke, #radler, #avbc, #guinness {
  @include beer-box;
  float:left;
  height: 300px;


}


.beer{
	text-align: center;
	max-width: 90%;
  margin: auto;

}

img{
  border: 2px solid black;
  max-width: 100%;
}

p{
color:black;
}



} /*end of media query*/

