//explanation


#explanation{
	width: 80%;
	margin: 5em auto;
	border-bottom:1px solid black;
	line-height: 1.25em;
	border-top:1px solid black;
}

@media screen and (min-width: 700px){
	.pullquote{
	  background-color: #BD5B50;
	  border-top: 1px solid black;
	  border-bottom: 1px solid black;
	  display:block;
	  margin: 5% 0;
	 }


	#explanation{
	 width: 30.5em;
	 border: none;
	 margin: 1em auto;
	 line-height: 1.5em;
	 font-size: 1.25em;
	}


}