html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato' sans-serif; 
  }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; 
  }

body {
  background-color: #D7C5B4; 
  }

img {
  max-width: 100%;
  border: 2px solid black; 
  }


