




/* Desktop */

@mixin beer-box{
  width:33%;
 
}

@media screen and (min-width: 700px){



.pic{
  visibility:visible;
  margin:auto;
}

#explanation{
width:40%;
  border-bottom:1px solid black;
  border-top:1px solid black;
  margin:auto;
  margin-top:10em;
}

html{
  font-family: 'Lato' sans-serif;
}

.mnkyTitle{
  font-family: 'indie flower' serif;
  font-size:2em;
  
}

a{
  text-decoration: none;
}


h1{
  text-align: center;
font-size: 3rem;

}


/* Beer catagories */

.icon{
  margin-left:40%;


}


#dryhopped, #stoneIPA, #wittekerke, #radler, #avbc, #guinness {
  @include beer-box;
  float:left;
  height: 300px;

}


.beer{
	padding: 20px;
	text-align: left;
	max-width: 90%;

}

img{
  border: 2px solid black;
  max-width: 100%;
}

p{
color:black;
}



} /*end of media query*/

