


*{
box-sizing:border-box;
}


html{
  font-family: 'Lato' sans-serif;
}

.mnkyTitle{
  font-family: 'indie flower' serif;
  font-size:2em;
  
}

a{
  text-decoration: none;
}


h1{
    text-align: center;
    font-size: 3rem;

}

.pic{
  visibility:hidden;
}



/* Beer catagories */

.beer{
	margin: 100px auto;
	text-align: center;
	max-width: 90%;

}

img{
  border: 2px solid black;
  max-width: 100%;
}

p{
color:black;
}

.icon{
 min-width: 50px;
 min-height: 50px;  
}



/* Media Queries */


@import "mq500";