*{  
  box-sizing:border-box;
}

html{
  font-family: 'Lato' sans-serif;
}

.mnkyTitle{
  font-family: 'indie flower' serif;
  font-size:2em;
  
}

a{
  text-decoration: none;
}


h1{
  text-align: center;
font-size: 3rem;
}

body{

}

.mnkyTitle{
  border: 1ox solid blue;
  font-family: "indie flower"
  font-size: 1rem;
}

img{
  border: 2px solid black;
  max-width: 100%;
}

p{
color:black;
}

.icon{
 min-width: 50px;
 min-height: 50px;  
}
/* Beer catagories */

/* Dry hopped on the high seas */

.beer{
  margin: 100px auto;
  text-align: center;
  max-width: 90%;
  border-bottom: 1px solid black;

}

#dryhopped{
  
}

#stoneIPA{

}

#wittekerke{
  
}

