@import "bourbon/bourbon";

@import "neat/neat";

@mixin top-line{
	border-top:.5em solid black;
	padding-top: 1em;

}


.container{
	@include outer-container();
}



header { 

	@include outer-container();

	$header-height: 6em;
	$visual-grid: true();
	
	header{
		padding: 1em;
	}

	.copy {
		@include row();
		@include span-columns(7);
		border-top:3px solid black;
		border-bottom:3px solid black;
		height: $header-height;
		
		.ftext{
				font-weight:lighter;
		}
	}

	.empty { 
		@include span-columns(5);
		height: $header-height;
		@include omega;
	}

	.month{

	}
}

.content{
	
	@include outer-container();

}

.StoneIPA{
	@include top-line;
	@include span-columns(6);
	@include omega();

}


.CCdryHopped{
	@include top-line;
	@include span-columns(6);

	
}

.Guinness{
	margin-top:4em;
	@include top-line;
	@include span-columns(6);
	@include omega();
}
.Wittekerke{
	margin-top:4em;
	@include top-line;
	@include span-columns(6);
	
}
.image{
	@include span-columns(4);
}

.artTitle{
	border-bottom:1px solid black;
	@include span-columns(8);
	@include omega();
}
.artTeaser{
	@include span-columns(12);
	height:7em;
}
.logo{
	height:2em;
	
}

a:link{
	text-decoration:none;
}