
html {
width: 100%;
background-color: white;
color: black;
}

       body {
font-family: Arial, Helveitca, san-serf;
width: 80%;
min-height: 750px;
padding: 1em;
}

#logo{
position:relative;

}

	
#menu{

}

 
      