.compare{
	margin-top: 4em;
    @include outer-container;
    @extend .borders;
    border: 1px solid white;
    color: white;
    width: 90%;
    padding: .5em;
    background: rgba(0,0,0,0.3);
    
    h3{
    text-align: center;
    }
}

.blue{
    @include span-columns(5);
    text-align:left;
}

.purple{
    @include span-columns(3);
}


.red{
    @include span-columns(4);
    @include omega;
    text-align: right;
}


ul{
    list-style: none;
}
