$cardColor: #dedede;

.borders{
    @include border-top-radius(10px);
    background-color: $cardColor;
    text-align: center;
    border: 3px solid black;
    margin: 100px 50px;
    padding: 10px;
}
