*{
box-sizing: border-box;
}

body{
background: slategrey url('../img/mountains.jpg') fixed no-repeat;
}


header{
    border: 1px solid black;
    margin: 0 50px;
    text-align: center;
    background: grey;
    box-shadow: 4px 10px darkslategrey;
}

article{
    display:block;
    width: 62.5%;
}

.compare{
    margin: auto;
    width:90%;
    border:1px solid black;
    box-shadow: -5px -10px slategrey
    position: relative;
    ;
}
.red{
    border:1px solid black;
    width:50%;
    background-color: red;
}
.blue{
    border:1px solid black;
    width:50%;
    background-color: blue;
    float:right;
}
.purple{
    background-color: white;
    right: 30%;
    width: 40%;
    position: absolute;
    border: 1px solid black;
    text-align: center;

}
ul{
list-style: none;}
p{
    background: white;
    box-shadow: 2px 5px grey;
}
