*{
box-sizing: border-box;
}

body{
    background-color: lightslategrey;

}
.headerpic{
    height:500px;
    border: 5px solid black;
    background-image: url('../img/mountains.png')
}

header{
    border: 1px solid black;
    margin: 0 50px;
    text-align: center;
}

article{
 
    display:block;
    width: 62.5%;
}

.compare{
    float: right;
    width:37%;
    border:1px solid black;
}
.red{
    border:1px solid black;
    width:50%;
    background-color: red;
}
.blue{
    border:1px solid black;
    width:50%;
    background-color: blue;
    float:right;
}
.purple{
    background-color: white;
    width: 50%;
    margin: 25%;
}


