@import "normalize";

@mixin marginTB($margin){
	margin-top:$margin;
	margin-bottom:$margin;
}

body{
	background:#fafafa;	
	color: #5D5D5D;
}

.container{
	margin: auto;
	width: 100%;

	padding:20px;
}

header{
text-align:justify;
width: 90%;

}

h1{
font-size: 12.599vw;
@include marginTB(0);
letter-spacing: .1em;
margin-left: -.07em;
margin-top:-.1em;
margin-bottom:-.1em;

}

h2{
font-size: 5.25vw;
@include marginTB(0);


}

h3{
font-size: 4.53vw;
@include marginTB(0);
}

.pic{
	width: 25%;
	float:left;
	margin: 10px;
}

p{

font-size: 2vw;
width: 90%;
line-height: 1.09em;
}


//notes

//breaks at 1200px
