
@import 'normalize';

body{
     background: black;
     font-size: 1.25em;
     font-family: 'Bitter', serif;
}

.container{
    background:
        url(../img/main.svg),
        white;
    background-size: contain;
    height:1310px;
    width: 100%;
    color: black;
    border: 10px solid black;
}

.banner{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 10%;
}

.hand{
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 40%;
}


.bottom{
    position: absolute;
    bottom:0px;
    width:100%;
    border: 5px solid pink;
 }



.skull{
    background:white;
    width:32%;
    border: 5px solid black;

    bottom:0;
    left:0;
 
}

article{
    background: white; 
    width:32%;   
    height: 20%;
    border:5px solid black;
    bottom: 0;
  
}

.crow{
    background:white;
    float: left;
    width: 32%;
    border: 5px solid black;
    poistion: absolute; 
    bottom:0;
    right:0;
 
}


