
@import 'normalize';

body{
     background: black;
     font-size: 1.25em;
     font-family: 'Bitter', serif;
}

.container{
    background:
        url(../img/main.svg),
        white;
    background-size: cover;
    min-height:1300px;
    width: 100%;
    position: relative;
}

.banner{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 10%;
}

.hand{
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 40%;
}


.bottom{
    position: absolute;
    bottom: 0;
    width:100%;
 }

.skull{
    background:white;
    width:20%;
    border: 5px solid black;
    position:absolute;
    bottom: 0;
    left:0;
}

article{
    background: white; 
    width:55%;   
    height: 25em;
    border:2px solid black;
    line-height:1.5em;
    text-align:center;
    padding: 2px;
    position: absolute;
    bottom:0;
    left:22%;

}

.crow{
    background:white;
    position: absolute;
    right: 0;
    width: 20%;
    border: 5px solid black;
    bottom:0;
 
}


