
html{
    
}
body{
    border: 10px solid black;
}


.container{
background: url(../img/full.png) no-repeat;
    background-size: cover;
     height:1800px;
     width: 100%; 
     border-bottom: 10px solid black;
    
}

.lower{
    height: 600px;
    color: black;
    font-size: 1.25em;
    font-family: 'Bitter', serif;
}
.a, .b, {
    float: left;
  
}

.a, .c{
    width: 33%;
    border: 4px solid black;

}
.b{
  
    width: 450px;
    margin-top: -350px;
    span{

    }

}

.c{
    
    float:right;
    width: 33%;
    padding: 10px;
}