@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';

@mixin border{
	border: .25em solid black;
}

main {
background-image: url("img/background.jpg");
background-repeat: repeat-y;

}


h1{
	font-size: 600%;
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 0px;
}

h2{
letter-spacing: 20px;
font-size:400%;
	text-align: center;
	font-family: 'Architects Daughter', "cursive";
	margin-top:5px;
}

 p{
 	font-family: sans-serif;
 	font-size: 18px;

 }

 .circle {
	margin: auto;
 	@include border;
    width: 90%;
    height: 600px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #DFE8D5;
}

.ic1{
	text-align: right;
	line-height: 2em;
 padding-top: 8%;
 padding-left:7%;
	z-index: 1;
	width:33%;
	float: left;
	margin-right: 5px;
	p{
		clear:both;
	
	}
}
.ic2{
	padding-top: 5%;
	float: none;
	width: 20%;
}


.ic3{
	line-height: 2em;
	margin-right:5px;
	width:33%;
	padding-top: 10%;
	padding-left: 0px;
	padding-right: 7%;
	float:right;
}

.bottom{
	padding:0;
	margin:0;
	bottom:20px;
	min-height: 400px;
}

.bike{
	position: relative;
	z-index: 1;
	float: left;
	
}

footer {
	@include border;
	border-radius: 25px;
	margin:1em;
	padding: 1em;
	background-color: #DFE8D5;
	opacity:0.7;
	line-height: 1.5em;
	font-weight: bold;
	
}

.dropcap{
	font-size: 2em;
	font-weight: bold;
}