*{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }



body {
  background-image: url("img/background.jpg");
  color: #333333;
  width: 2000px;
  }


h1 {
  width: 2200px;
  font-size: 7.85377em;
  font-family: 'Amatic SC', cursive;
  margin: 0px auto; 

}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 19.416px; }

.content{
width:4000px;

}
.circle {
  max-width: 68em;
  border: .25em solid black;
  background: #DFE8D5;
  height: 600px;
  border-radius: 50%;
  width: 2000px; 
  float: left;
  margin-right: 4em;
}



.ic1 {
  padding-top: 7em;
  margin-left: 5em;
  text-align: right;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 30%;
  display: inline;
  line-height: 1.7em; 
}
 

.ic2 {

  padding-top: 3em;
  margin: 0px;
  float: left;
  display: inline block;
  margin-right: 2.35765%;
  width: 26%;
   }
 

.ic2 img {
 width: 100%;
 margin-top: 6em;
 margin-left: -2em;
}


.ic3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 27%;
  padding-top: 7em;
  line-height: 1.5em;
  margin-left: -40px; }
 



.bike {
height:15em;
  z-index: 1;
float: left; }


.lower{
float:left;
  width: 1000px;
  padding-left: 20px;
  border: .25em solid black;
  border-radius: 25px;
  background-color: #DFE8D5;
  opacity: 0.7;
  line-height: 1.9em;
  font-weight: bold; 
  margin-top:5em;
}

.dropcap {
  font-size: 2em;
  font-weight: bold; }
  .side{
    width:2000px;
  }

p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif; }

@media
