@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';

@mixin border{
	border: .25em solid black;
}

body {
background-image: url("img/background.jpg");
}


td{
	@include border;
	width:2000px;
	
}


img{
	max-width: 100%;
}

h1{
	width: 3000px;
	font-size: golden-ratio(3em, 2);
	text-align: center;
	font-family: sans-serif;
	margin-bottom: 0px;
}

 p{
 	font-family: sans-serif;
 	font-size: golden-ratio(12px, 1);

 }

 .circle {
@include outer-container;
	border: .25em solid black;
    background: #DFE8D5;
    height: 600px;
    
    
}

.ic1{
	@include clearfix;

padding-top:4em;
text-align:right;
	@include span-columns(4);
	display:inline;
	line-height: 1.5em;
	width: 30%;
	
	
}
.ic2{

	height:30em;
	width:30%;
	@include span-columns(4);	
}

.ic3{
	@include span-columns(4);
	@include omega();
	padding-top:5em;
	line-height: 1.5em;
	width:30%;
	
}



.bike{
	position: relative;
	z-index: 1;
	float: left;
	
}

.lower {
	@include border;
	border-radius: 25px;
	margin:1em;
	padding: 5em;
	background-color: #DFE8D5;
	opacity:0.7;
	line-height: 2em;
	font-weight: bold;
	width: 1500px;
	
}

.dropcap{
	font-size: 2em;
	font-weight: bold;
}

.one{

	width:2000px;
}
