*{
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }



body {
  background-image: url("img/background.jpg");
  color: #333333;
  }
<<<<<<< HEAD





=======
>>>>>>> origin/master

img {
  margin: 0;
  max-width: 100%; }




td {
  width: 1200px; }

img {
  height: auto;
  width: 100%; }

h1 {
<<<<<<< HEAD
  border:1px solid black;
=======
padding-top:-5px;
>>>>>>> origin/master
  width: 3000px;
  font-size: 7.85377em;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 0px; }

p {
  font-family: sans-serif;
  font-size: 19.416px; }

.circle {
  verticle-algin: left;
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border: .25em solid black;
  background: #DFE8D5;
  height: 600px;
  border-radius: 50%;
  width: 2000px; 
}
  .circle:before, .circle:after 
  {
    content: " ";
    display: table; }

  .circle:after {
    clear: both; }

.ic1 {
  padding-top: 9em;
  margin-left: 5em;
  text-align: right;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline;
  line-height: 1.4em; }
  .ic1:last-child {
    margin-right: 0; }

.ic2 {
  height: 100%;
  padding-top: 4em;
  margin: 0px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .ic2:last-child {
    margin-right: 0; }

.ic3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding-top: 9em;
  line-height: 1.4em;
  margin-left: -40px; }
 

 .ic3:last-child {
    margin-right: 0; }

figure {
  margin-left: -20px; }

.bike {
height:15em;
  position: relative;
  z-index: 1;
<<<<<<< HEAD
  float: right; }

.lower {
=======
  float:left; }

.lower {
height: 280px;
width: 2000px;
>>>>>>> origin/master
  padding-left: 20px;
  border: .25em solid black;
  border-radius: 25px;
  background-color: #DFE8D5;
  opacity: 0.7;
  line-height: 1.9em;
  font-weight: bold; 
<<<<<<< HEAD
width:; 1000px}
=======
  width:; 1000px
  }
>>>>>>> origin/master

.dropcap {
  font-size: 2em;
  font-weight: bold; }
  .side{
    width:2000px;
  }

p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif; }

