@media (max-width:1000px) and (min-width: 700px){
	a{
	@include shift(3);
	}
}


@media (max-width: 710px){
	
	body{
		background: $green url('../img/bottleM.jpg') no-repeat;
		background-size: cover;
	}

	p{
		font-size: em(24);
		width:100%;
	}

	#rightside{
	@include span-columns(0);	
		img{
		display: none;
		}
	}

	#leftside{
		@include span-columns(12);
		@include shift(1);
		margin-top:0;
		p{
			@include shift (0);
			padding-right: 10px;
		}
		.button{
		background: lighten($green, 10%);
		@include shift(2);
		@include span-columns(6);
		@include omega;
		margin-bottom: 50px;

		}
	}

}