@import "bourbon/bourbon";
@import "neat/neat";

$green: #00904c;

body{
	background-color: $green;
}

#leftside { 
	margin-top: 20em;
	@include span-columns(6);
}

#rightside{
	margin-top:-7px;
	@include span-columns(4);
	@include shift (2);

}
img{ 
	float: right;
	width: 120%;
}


p{
	@include shift(3);
	font-family: 'Roboto', sans-serif;
	font-size: em(16);
	color:white;
}

//media queries

@import "mobile";
