@import 'bourbon/bourbon';






body{
	background: #5F9EA0 url('../img/wood.jpg');
	background-blend-mode:hard-light;
	}
	


/* images */

.kex{
background: #0000ff url('../img/kex.jpg');
background-size:400px;
background-blend-mode:screen;
	width: 400px;
	height: 250px;

	display:inline-block;
	float:right;
	margin-right: 30%;
	

}

.mower{
	background: #ff0000 url('../img/mower.jpg');
	background-repeat: no-repeat;
	background-size: 500px;
	background-blend-mode:darken;
	width:500px;
	height:700px;
	margin-left: auto;
	margin-right: 60em;
	margin-top:10%;

	
}


.outside{
background: #00ff00 url('../img/outside.jpg');
background-blend-mode:darken;
background-repeat:no-repeat;
background-size: 500px;
   width:400px;
   height:300px;

   float:right;
   margin-right: 30%;
   margin-top: 7%;
}
