@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";


$cream: #F2E9CE;
$black: #180C04;
$gold: #DAA520;

body{
	@include outer-container;
	background-color: $black;
	height: 1200px;
	
}
.container{
	@include span-columns(12);
	background-color: $black;
	
}
.topper{
	margin-top:50px;
  @include border-top-radius(25px);
	height:200px;
	background-color: $cream;
}

.content{
	text-align:center;
font-size:450%;
color:$gold;
}

.content2{
	text-align:center;
	font-size:450%;
color:$gold;
	@include span-columns(10);
	@include shift(1);
}
